.aside {
    position: sticky; /* Fixa ao rolar */
    top: 15dvh; /* Fixa no topo quando chegar lá */
    left: 0;
    z-index: 100;
    height: 85dvh;
    width: 20dvw;
    background-color: var(--primary-clear);
    color: rgba(255, 255, 255, 0.87);
}

.aside h1 {
    margin: 0 0 10px 20px;
    font-size: 25px;
}

.container-category-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-category-book ul {
    padding: 15px 15px 15px 15px;
    list-style-type: none;
}

.container-category-book ul li {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.container-category-book ul li:hover {
    transform: scale(+110%);

}

.star-container {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 0 0 20px;
}

.star-input {
    display: none;
}

.star-icon {
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.2s ease;
}

.star-icon:hover {
    transform: scale(1.1);
}

.aside-search-for-pages {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-search-for-pages h1 {
    font-size: 15px;
}

.allign-search-for-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-checkbox-individual-allign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0;
}

.input-checkbox-individual-allign h4 {
    margin: 5px;
}