.MainHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 320dvh;
    margin: -90dvh 0 0 0;
    padding: 0 0 0 0;
}

.main-content-home {
    position: relative;
    display: grid;
    left: 10.1dvw;
    width: 80%;
}

.images-main {
    height: 39dvh;
    max-width: 200px;
    max-height: 100%;
    margin: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}

.images-main:hover {
    transform: scale(1.05);
}