@import "@radix-ui/themes/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Pragati+Narrow:wght@400;700&display=swap');

:root {
    --primary: #002147;
    --primary-dark: #00152e;
    --primary-clear: #002D61;
    --secondary: #ffe699;
    --secondary-dark: #ffdc75;
    --secondary-clear: #ffefc1;
    --tertiary: #4d5c60;
    --yellow: #FFEA00;
    --white: white;
}

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    overflow-x: hidden;
    margin: 0 0 0 0;
    padding:  0 0 0 0;
    font-family: "Pragati Narrow", sans-serif;
}

input::placeholder {
    font-family: "Pragati Narrow", sans-serif;
}

button::placeholder {
    font-family: "Pragati Narrow", sans-serif;
}