@import "@radix-ui/themes/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Pragati+Narrow:wght@400;700&display=swap');

:root {
    --primary: #003631;
    --primary-dark: #001d1a;
    --primary-clear: #014740;
    --secondary: #ffeea8b2;
    --secondary-dark: #837852;
    --secondary-clear: #fff4c9;
    --tertiary: #4d5c60;
    --yellow: #FFEA00;
    --white: rgba(255, 255, 255, 0.87);
}

.testB {
    border: red solid 1px;
}

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


body {
    background-color: var(--secondary);
    overflow-x: hidden;
    margin: 0 0 0 0;
    padding:  0 0 0 0;
    font-family: "Pragati Narrow", sans-serif;
}

input::placeholder {
    font-family: "Pragati Narrow", sans-serif;
}

.none {
    display: none;
}

.primary-button {
    background-color: var(--primary-clear);
    color: var(--white);
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-clear);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 20px 0 0 0;
}

.primary-button:hover {
    background-color: var(--white);
    border: 2px var(--primary-clear) solid;
    color: var(--primary-clear);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.secondary-button {
    background-color: var(--white);
    color: var(--primary-clear);
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 2px var(--primary-clear) solid;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 20px 0 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.secondary-button:hover {
    background-color: var(--primary-clear);
    color: white;
    border-radius: 25px;
}