.container-register {
    background-color: var(--tertiary);
}

.box-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60dvh;
    z-index: 100;
    height: 14dvh;
    width: 14dvh;
    background-color: var(--primary);
    border-radius: 50%;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group :hover, input:focus {
    border: 2px solid var(--secondary);
    box-shadow: 0px 0px 0px 7px rgb( 255, 230, 153, 20%);
    background-color: white;
}


.form-group h3 {
    color: var(--secondary);
}

.form-group-small-box {
    display: flex;
    width: 22dvw;
}

.register-form h1 {
    font-size: 45px;
    margin-top: 9dvh;
    margin-bottom: 2dvh;
}

.register-button {
    width: 20dvw;
    padding: 0.75rem;
    background-color: var(--primary);
    color: var(--secondary-clear);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    margin: 30px 0 0 0;
}

.register-button:hover {
    background-color: var(--primary-dark);
    transform: translateY(-5px);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.link-return {
    font-size: 20px;
    color: var(--secondary);
}

@media(max-width: 0px) {

}

@media(max-width: 900px) {
    .container-register {
        width: 70dvw;
        height: 87dvh;
        padding: 1rem;
        border-radius: 30px;
    }

    .box-register {
        margin-bottom: 80dvh;
        height: 12dvh;
        width: 12dvh;
    }

    .container-register input {
        width: 55dvw;
    }

    .form-group-small-box {
        width: 55dvw;
    }

    .register-button {
        width: 55dvw;
    }
    
    .register-form {
        padding: 1.5rem;
    }
}


/* Responsividade */
@media (max-width: 480px) {
    .container-register {
        height: 87dvh;
        width: 90dvw;
        padding: 1rem;
        border-radius: 30px;
    }

    .box-register {
        margin-bottom: 80dvh;
    }

    .container-register input {
        width: 80dvw;
    }

    .form-group-small-box {
        width: 80dvw;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    .register-button {
        width: 80dvw;
    }
    
    .register-form {
        padding: 1.5rem;
    }
}