#register {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background-color: var(--secondary);
}

.container-register {
    position: absolute;
    z-index: 1;
    background-color: var(--tertiary);
    width: 30dvw;
    height: 85dvh;
    border-radius: 5%;
}

.box-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80dvh;
    z-index: 100;
    height: 14dvh;
    width: 14dvh;
    background-color: var(--primary);
    border-radius: 50%;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 600;
}

.form-group input {
    border: 2px solid transparent;
    width: 20dvw;
    height: 5dvh;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

.form-group input:hover, input:focus {
    border: 2px solid var(--secondary);
    box-shadow: 0px 0px 0px 7px rgb( 255, 230, 153, 20%);
    background-color: white;
}


.form-group h3 {
    color: var(--secondary);
}

.form-group-small-box {
    display: flex;
    width: 22dvw;
}

.register-form h1 {
    font-size: 45px;
    margin-top: 9dvh;
    margin-bottom: 2dvh;
}

.register-button {
    width: 20dvw;
    padding: 0.75rem;
    background-color: var(--primary);
    color: var(--secondary-clear);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.register-button:hover {
    background-color: var(--primary-dark);
    transform: translateY(-5px);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.link-return {
    font-size: 20px;
    color: var(--secondary);
}

/* Responsividade */
@media (max-width: 480px) {
    .container-register {
        padding: 1rem;
    }
    
    .register-form {
        padding: 1.5rem;
    }
}